@charset "UTF-8";

body {
    font-family: sans-serif;
    font-size: 95%;
    margin: 0;
    padding: 0;
}

#bed_form {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    color: #000;
}

#bed_head {
    font-size: 95%;
    padding: 4px 10px 4px 26px;
    font-weight: bold;
}

#bed_file {
    float: right;
    font-weight: normal;
}

#bed_tree {
    position: absolute;
    top: 24px;
    bottom: 36px;
    left: 0;
    min-width: 40%;
    max-width: 95%;
    margin: 0 4px;
    padding: 0 4px;
}

#bed_list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    font-size: 85%;
    text-align: left;
    padding: 8px 16px 0 0;
    background-color: #ccc;
    color: #000;
    overflow: auto;
    z-index: -1000;
}

#bed_tree:hover #bed_list {
    z-index: 1000;
}

#bed_area {
    position: absolute;
    top: 24px;
    right: 16px;
    bottom: 40px;
    left: 16px;
    margin: 0 4px;
    padding: 0 4px;
}

#bed_text {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: monospace;
    font-size: 105%;
    padding: 4px 8px;
    background-color: #000;
    color: #0f0;
}

#bed_foot {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2px 4px 2px 4px;
    font-size: 85%;
    text-align: center;
}

input {
    background-color: #ccc;
    color: #000;
    font-weight: bold;
    border: 1px outset #999;
    margin: 2px 4px;
    padding: 2px 4px;
}

input:hover {
    background-color: #fff;
    color: #000;
    border: 1px inset #999;
}

ul {
    margin: 0 8px;
    padding: 0 8px 0 8px;
}

li {
    padding: 0 4px 4px 4px;
}

a:link, a:visited {
    background-color: transparent;
    color: #000;
    text-decoration: none;
    padding: 4px;
}

a:active, a:focus, a:hover {
    background-color: #fff;
    color: #000;
}

#bed_logo a {
    background-color: transparent;
    color: #000;
    padding: 0;
}

@media screen and (max-width: 500px) {
    body {
        font-size: 85%;
    }

    #bed_head {
        bottom: 48px;
    }

    #bed_tree, #bed_area {
        top: 48px;
    }
}
