@charset "UTF-8";

body {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

#bed_form {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333;
    color: #999;
    text-shadow: 1px 1px 1px #000;
}

#bed_head {
    font-size: 105%;
    padding: 4px 26px;
    font-weight: bold;
    text-align: center;
}

#bed_logo {
    float: left;
}

#bed_stat {
    background-color: inherit;
    color: #fff;
}

#bed_file {
    float: right;
    font-weight: normal;
}

.bed_dele {
    text-decoration: line-through;
}

#bed_tree {
    position: absolute;
    top: 26px;
    bottom: 36px;
    left: 0;
    margin: 0 4px;
    padding: 0 4px;
    text-align: left;
}

#bed_list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid #000;
    padding: 8px 16px 0 0;
    overflow: auto;
    background-color: #333;
    color: #666;
    z-index: -1000;
}

#bed_vsrc {
    position: absolute;
    top: 26px;
    right: 0;
    bottom: 28px;
    margin-right: 8px;
    margin-left: 14px;
    padding: 0 4px;
}

#bed_vweb {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #000;
    margin-left: -16px;
    overflow: auto;
    background-color: #333;
    color: #000;
    z-index: -1000;
}

#bed_tree:hover {
    right: 60%;
}

#bed_vsrc:hover {
    left: 26px;
}

#bed_tree:hover #bed_list,
#bed_vsrc:hover #bed_vweb {
    z-index: 1000;
}

object {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

#bed_area {
    position: absolute;
    top: 24px;
    right: 32px;
    bottom: 38px;
    left: 16px;
    margin: 0 4px;
    padding: 0 4px;
}

#bed_text {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 105%;
    padding: 4px 8px;
    background-color: #000;
    color: #999;
}

#bed_menu {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 2px 24px;
    font-size: 95%;
    text-align: center;
}

#bed_slft {
    float: left;
    font-weight: bold;
}

#bed_srgt {
    float: right;
    font-weight: bold;
}

input {
    background-color: inherit;
    color: #999;
    border: 1px outset #000;
    margin: 2px 4px;
    padding: 2px 4px;
    font-size: 75%;
    text-shadow: 1px 1px 1px #000;
}

input:hover {
    background-color: #666;
    color: #000;
    border: 1px inset #000;
    text-shadow: 1px 1px 1px #999;
}

textarea {
    border: 1px solid #000;
}

ul {
    margin: 0 8px;
    padding: 0 8px;
}

li {
    padding: 2px 4px;
}

a:link, a:visited {
    background-color: #333;
    color: #999;
    text-decoration: none;
    padding: 2px 4px;
    text-shadow: 1px 1px 1px #000;
}

a:active, a:focus, a:hover {
    background-color: #999;
    color: #000;
    text-shadow: 1px 1px 1px #ccc;
}

#bed_logo a {
    background-color: inherit;
    color: inherit;
    text-shadow: 1px 1px 1px #000;
    padding: 0;
}

#bed_logo a:hover {
    background-color: inherit;
    color: #ccc;
    text-shadow: 1px 1px 1px #000;
}

#bed_fsrc {
    font-weight: normal;
    max-width: 100px;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 105%;
    }

    #bed_head {
        bottom: 60px;
    }

    #bed_tree {
        top: 50px;
        bottom: 62px;
    }

    #bed_area {
        top: 48px;
        bottom: 64px;
    }

    #bed_vsrc {
        top: 50px;
        bottom: 54px;
    }

    #bed_file {
        font-size: 95%;
    }

    input {
        font-size: 75%;
    }
}

@media screen and (max-width: 400px) {
    body {
        font-size: 105%;
    }

    #bed_tree {
        top: 60px;
        bottom: 88px;
    }

    #bed_area {
        top: 58px;
        bottom: 90px;
    }

    #bed_vsrc {
        top: 60px;
        bottom: 80px;
    }

    #bed_file {
        font-size: 85%;
    }
}
